body, h1,h2,h3,h4,h5,h6 {font-family: 'Fira Sans', sans-serif;}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('nap_Under_con.jpg');
  min-height: 100%;

<!-- TODO:BODY>SIDE_IMAGE Make a gif based on INSTAgram post to replace chair.jpg -->
